body {
  --background-color: #000;
  --icon-selected-border: #6994c0;
  --font-color: #acadad;
  --font-color-secondary: #fff;
  --header-color: #fff;
  --info-color: #3f5772;
  --border-color-selected: #6eabe9;
  --border-color: #3b3c3d;
}