body {
  --background-color: #000000;
  --font-color: #acadad;
  --font-color-secondary: #ffffff;
  --header-color: #ffffff;
  --info-color: #3f5772;
  --border-color-selected: #6eabe9;
  --border-color: #3b3c3d;
  --line-color: #303234;
}