.skillIconContainer {
  z-index: 1;
  padding: 7px;
  background-image: url(../../assets/images/unselected.jpg);
}

.skillIconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skillLine {
  &:last-child {
    display: none;
  }
  width: 50px;
  background-color: var(--line-color);
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--border-color);
  height: 15px;
}

.skillIcon {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/images/talent-icons-sprite.png);
  background-position-y: 0;
  cursor: pointer;
  border: 0;
  display: block;

  &:hover {
    background-position-y: 0;
  }
}

@for $i from 1 through 8 {
  .skill#{$i} {
    background-position-x: #{($i - 1) * 50}px;
    background-position-y: 50px;
  }
}

.name {
  font-size: 1.1rem;
  white-space: nowrap;
  color: var(--font-color);
  font-weight: 500;
}

.skillTree {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 40px;
}



.selected {
  background-position-y: 0;
  background-image: url(../../assets/images/selected.jpg);
  .skillIcon {
    background-position-y: 0;
  }
}

.disabled {
  opacity: 0.5;
  cursor: default;
  .skillIcon:hover  {
    background-position-y: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .skillIconsContainer {
    padding: 20px 0 0 0;
  }

  .name {
    text-align: center;
    padding: 0;
    font-size: 1.8rem
  }

  .skillTree {
    flex-direction: column;
    gap: 0;
  }

  .skillIcon {
    flex-grow: 1;
  }

  .skillLine {
    width: 40px;
  }
}